{% extends 'gesconweb/base.html' %}

{% block title %}Listado de aplicaciones{% endblock %}

{% block content %}

<h1>Aplicaciones <small>Todas</small></h1>
<h2>Hay <span class="badge">{{ apps.count }}</span> aplicaciones.</h2>

<table class="table">
    {% for app in apps %}
      <tr>
          <td> <a href="{{ app.url }}"> {{ app.nombre }} <a></td>
          <td> {{ app.descripcion }} </td>
          <td> {{ app.activo }} </td>
      </tr>
    {% endfor %}
</table>


{% endblock %}

{% block icono %} {% endblock %}
